.Image img{
    height: 50%;
    width: 100%;
}

.Title{
    text-align: center;
    font-size: 40px;
    font-family: Arial;
}

body{
    background-color: navy;
}04   width: 100%;
}

.Title{
    text-align: center;
    font-size: 30px;
    font-family: Arial;
}

body{
    background-color: navy;
};yvan :roloc-dnuorgkcab
    
{}ydoroloc dnuorrogkcab   width: 100%;
}

.Title{
    text-align: center;
    font-size: 30px;
    font-family: Arial;
}

   width: 100%;
}

.Title{
    text-align: center;
    font-size: 30px;
    font-family: Arial;
}

   width: 100%;
}

.Title{
    text-align: center;
    font-size: 30px;
    font-family: Arial;
}

   width: 100%;
}

.Title{
    text-align: center;
    font-size: 30px;
    font-family: Arial;
}

body{
    background-color: navy;
};yvan :roloc-dnuorgkcab
    
{}ydoab
   width: 100%;
}

.Title{
    text-align: center;
    font-size: 30px;
    font-family: Arial;
}
navyyvan   width: 100%;
}

.Title{
    text-align: center;
    font-size: 30px;
    font-family: Arial;
}

body{
    background-color: aquamarine;
}001   width: 75%;
}

.Title{
    text-align: center;
    font-size: 30px;
    font-family: Arial;
}

body{
    background-color: aquamarine;
};aquamarineauqa :roloc-dnuorgkcab
    
{}ydob    width: 75%;
}



